:host {
    display: inline-block;
}

* {
    padding: 0;
    margin: 0;
}

div[part="base"] {
    font-family: inherit;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    padding: 0.4em 1em;
    border: none;
    border-radius: 1em;
    color: #E6E6E6;
    background-color: #2F3537;
}

button {
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    display: grid;
    place-items: center;

    @media (any-hover: hover) and (pointer: fine) {
        cursor: pointer;
    }
}