:host {
    display: inline-flex;
}

* {
    padding: 0;
    margin: 0;
}

button[part="trigger"] {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.6em;
    font-size: inherit;
    font-family: inherit;
    color: #E6E6E6;
    background-color: #2F3537;
    anchor-name: --dropdown-anchor;

    vector-icon {
        font-size: 1.2em;
        transition: rotate 0.2s;
    }

    :not(slot[name])::slotted(*) {
        z-index: 2;
        position: absolute;
        position-anchor: --dropdown-anchor;
        top: calc(anchor(bottom) + 0.4em);
        justify-self: anchor-center;
        position-try: most-width flip-block, flip-inline;
        cursor: auto;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9) translate(0, -1em);
        transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
    }

    .backdrop {
        z-index: 1;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
    }

    &[data-active] {
        vector-icon {
            rotate: 180deg;
        }

        :not(slot[name])::slotted(*) {
            opacity: 1;
            visibility: visible;
            transform: unset;
        }

        .backdrop {
            visibility: visible;
        }
    }

    @media (any-hover: hover) and (pointer: fine) {
        cursor: pointer;

        .backdrop {
            cursor: auto;
        }
    }
}