:host {
    display: inline-block;
}

[part="base"] {
    padding: 0.6em;
    border-radius: 15px;
    color: #D7D9DA;
    background-color: #191C1D;
    border: 1px solid #2E3132;
    scrollbar-color: #646464 #191C1D;

    &:has(search-box) {
        padding: 1.6em 1em;
        border-radius: 25px;
    }

    search-box {
        font-size: 0.9em;
        margin-bottom: 1.2em;
    }

    [part="options"] {
        max-height: 8em;
        overflow-y: auto;
        scrollbar-width: thin;
    }
}