 search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}

.view-options {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;

    search-box {
        grid-column: 2;
    }

    dropdown-trigger {
        grid-column: 3;
        justify-self: end;

        &::part(trigger) {
            background-color: transparent;
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: space-between;

        search-box {
            flex-grow: 1;
        }
    }

    @media screen and (max-width: 576px) {
        gap: 1rem;
    }
}

.settings {
    border-radius: 20px;
    padding: 1.4rem 1.2rem;
    
    h5 {
        font-family: var(--font-sans-serif);
        margin-bottom: 1rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

vector-icon {
    font-size: 1.4rem;
    color: var(--color-text-faded);
}

#filter-pills {
    gap: 1.2rem;

    &:empty {
        display: none;
    }
}

#example-cards {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & > * {
        content-visibility: auto;
    }
}