:host {
    display: inline-flex;
}

* {
    padding: 0;
    margin: 0;
}

[part="base"] {
    border: none;
    font-size: 0.85em;
    color: inherit;
    background-color: transparent;
    display: grid;
    place-items: center;

    @media (any-hover: hover) and (pointer: fine) {
        cursor: pointer;
    }
}